<h1 class = "newU">USERS</h1>

<p class = "newU">ENTER YOUR NAME:</p>

<input class = "newU"></input>

<div class="line">
    <button class= "newU" onclick="">SEE ALL USERS</button>
</div>

<div id="show_members">
    {{#each members}}
    <p>
        {{firstname}} {{surname}}
    </p>
    {{/each}}
</div>